<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> HR Assistant </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HR Assistant</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-spinner *ngIf="isLoading" name="circles"></ion-spinner>
    
    <h1>HR assistant</h1>

    <ion-label fixed><strong>Job Position with short description</strong></ion-label>
    <div class="description-container">
      <ion-input
        fill="outline"
        [(ngModel)]="nombre"
        name="nombre"
        type="text"
      ></ion-input>
    </div>


    <ion-label fixed><strong>Name of Company</strong></ion-label>

    <div class="description-container">
      <ion-input
        fill="outline"
        [(ngModel)]="issue_description"
        name="issue_description"
        type="text"
      ></ion-input>
    </div>

    <ion-button (click)="verMedicamentos()" color="success"
      >View Generative Job results</ion-button>
  </div>
</ion-content>
